.main-container{
    margin-top: 90px;
    display: grid;
    grid-template-columns: 210px auto;
}

.main-container .left-bar{
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 210px;
    border-radius: 10px;
    grid-column: 1;
    position: fixed;
}
.main-container .left-bar .list{
    padding-left: 0;
    margin-left: 10px;
    margin-right: 17px;
    align-items: center;
    justify-content: center;
    display: grid;
}
.main-container .left-bar span{
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    height: 1.6px;
    border-radius: 20px;
}
.main-container .left-bar .list ul{
    padding-left: 0;
    font-family: sans-serif;
    margin-top: 50px;
    font-size: 17px;
}
.main-container .left-bar ul li{
    list-style-type: none;
    margin-left: 25px;
    margin-top: 13px;
    font-family: "Assistant";
    font-size: 15px;
}

.main-container #products-container{
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-column: 2;
    border-radius: 10px;
    height: auto;
    width: auto;
    margin-left: 60px;
    margin-right: 35px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr)); /* Responsive grid with items of at least 200px wide */
}

.item{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 280px;
    height: auto;
    min-height: 300px;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    border-radius: 15px;
    background-color: rgba(216, 217, 222, 1);
    box-shadow: 0px 0px 70px -25px black;
    padding: 38px;
}
.item .container{
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    justify-content: center;
    grid-template-rows: 1fr 0.5fr;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(50px);
}
.item .container .image{
    align-items: center;
    justify-self: center;
    grid-row: 1;
    width: 100%; 
    height: 100%;
    max-height: 350px;
    max-width: 280px;
}
.item .container .image img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.item .container .text{
    width: 90%;
    align-items: center;
    justify-self: center;
    padding-left: 10px;
    padding-right: 10px;
    grid-row: 2;
    height: auto;
}
.item .container .text p{
    display: flex;
}
.item:hover{
    transform: scale3d(1.17, 1.17, 1.17);
    transition: transform 0.18s ease-in-out;
    z-index: 10;
    box-shadow: 0px 0px 70px 5px rgba(0, 0, 0, 0.7);
    padding: 0px;
    height: min-content;
    align-self: center;
    .container{
        height: 85%;
    }
}
/* .container .image :hover{
    transform: scale(1.054);
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.2);
} */
