* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline;
    list-style-type: none;
}

nav ul li {
    display: flex;
    margin: 0 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;

}

.container {
    max-width: 1300px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 25px;
    padding-right: 25px;
}

/* cart*/
.cart-page {
    margin: 80px auto;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.class-infor {

    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    height: 50px;
    padding: 5px;
    color: #ffffff;
    font-weight: normal;
    margin: 10px 10px;
    background-color: #000000;
}


td {
    padding: 10px 5px;
}

.td-input {
    width: 60px;
    height: 30px;
    padding: 5px;
}

td a {
    /* color: #ff523b; */
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    /* border-top: 3px solid #ff523b; */
    width: 100%;

}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/*cart button*/
.cart-button button {

    margin-top: 10px;
    background-color: rgba(201, 201, 205, 0.3);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(30px);
    border-radius: 19px;
    height: 40px;
    width: 110px;
    font-size: 15px;
    border: 0.3px solid rgba(1, 1, 1, 0.4);
}

/*mouse in and out*/
.cart-button button:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.remove {
    /* color: #ff523b; */
    font-size: 10px;
    width: 50px;
    padding: auto;
    cursor: pointer;
    border-color: #decfcd;
    background-color: white;
    border-radius: 18px;
}