.single-product {
    margin-top: 110px;
    /* margin-left: 10%; */
    margin-right: 10%;
    width: 100%;


}

.tb {
    border-radius: 19px;

}

th {
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    margin-left: 10%;
    border-radius: 20px;
}

.col-img {
    width: 80%;
    margin: 10px;
    border-radius: 20px;
}

.col-img img {
    border-radius: 20px;
    box-shadow: 0px 0px 35px 15px rgba(79, 76, 76, 0.25);
}

.singledes {

    text-align: left;
}

.btnsingle {
    margin-top: 20px;

    padding: 10px 20px;
    border: 1px solid #100301;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;

    border-radius: 19px;
}

#link {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.btnsingle:hover {
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: black;
}

#des {
    width: 80%;
}

.main {
    margin-left: 5%;
    margin-right: 5%;

}